version: '3.8'

services:
  postgres:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fraud
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  ipfs:
    image: ipfs/go-ipfs:latest
    restart: always
    ports:
      - "5001:5001"
      - "8080:8080"
    volumes:
      - ipfsdata:/data/ipfs

volumes:
  pgdata:
  ipfsdata: